* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #24273a;
    color: #cad3f5;
}

#workspaces button {
    padding: 0 5px;
    background: #363a4f;
    color: #cad3f5;
}

#workspaces button.focused {
    background: #8aadf4;
    color: #24273a;
}

#mode, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-keyboard-layout, #tray, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
    background: #363a4f;
    color: #cad3f5;
}

#mode {
    background: #f5a97f;
    color: #24273a;
}

#battery.charging {
    background: #a6da95;
    color: #24273a;
}

#battery.warning:not(.charging) {
    background: #f5a97f;
    color: #24273a;
}

#battery.critical:not(.charging) {
    background: #ed8796;
    color: #24273a;
}

#custom-keyboard-layout {
    background: #8aadf4;
    color: #24273a;
}

#idle_inhibitor.activated {
    background: #f5a97f;
    color: #24273a;
}
